altgraph==0.17.5
certifi==2026.5.20
cffi==2.0.0
charset-normalizer==3.4.7
colorzero==2.0
gpiozero==2.0.1
idna==3.18
lgpio==0.2.2.0
numpy==2.4.6
packaging==26.2
pycparser==3.0
pyinstaller==6.20.0
pyinstaller-hooks-contrib==2026.5
requests==2.34.2
RPi.GPIO==0.7.1
scipy==1.17.1
setuptools==82.0.1
sounddevice==0.5.5
urllib3==2.7.0
